<div class="container">
  <h2>会員詳細</h2>
  <%= link_to '編集する', edit_user_path(@user.id), class: "btn btn-primary" %>
  <%= link_to 'パスワードを変更する', edit_user_registration_path, class: "btn btn-primary" %>
</div>