<div class="about">
  <div class="about__title">
    <h1>About</h1>
  </div>
  <div class="about__visual">
  </div>
  <div class="about__content">
    <p>
  	  <strong>RenFa〜ランファ〜</strong>は、当カフェの保護犬、保護猫を知っていただく機会を増やすために立ち上げたサイトです。
  	  <br>
  	  閲覧自体には会員登録の必要はございません。
  	  <br>
  	  しかし、ご家庭で生まれた子犬などの里親募集の投稿、記事へのコメントなどには会員登録が必要となっております。
     <br>
     あらかじめ、ご了承ください。
    </p>
    <p>
    	引き取りに関わるやり取りは、DMでやりとりをしていただき、引取の際には一度、当店での面会を行っていただきます。
    	<br>こちらは、実際にお会いして相性を確認してからの方がトラブルが起こりにくいための処置です。ご協力をお願いいたします。
    </p>
    <p>
    	当店で気に入った子がいらっしゃれば、是非カフェに会いに来てあげてください！<br>当店一同心よりお待ちしております。
    </p>
  </div>
</div>


