.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    &__title{
      color: #814721;
      span{
        font-size: 20px;
      }
    }

    &__visual{
      width: 800px;
      height: 500px;
      background-image: image-url("tatiana-rodriguez-V2k_xw-miO0-unsplash.jpg");
      background-size: cover;
    }

    &__content{
      font-size: 14px;
      color: #814721;
    }
}