<div class="sidebar">
  <%= render partial: 'tagbar', locals: { tag_list: @tag_list } %>
</div>
<div class="post_image-index">
  <%= render partial: 'index', locals: { post_images: @post_images } %>
</div>