<div class="sidebar">
  <%= render partial: 'tagbar', locals: { tag_list: @tag_list } %>
</div>
<div class="post_image-index">
  <%= render partial: 'index', collection: @post_images, as: :post_image %>
</div>